<!DOCTYPE html>
<html>
<head>
    <p>Hello from master</p>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='../../public/stylesheets/master.css' />
</head>
<body>

</body>
</html>
